IDI_ICON1               ICON                    "data/favicon.ico"

FONT RCDATA "data/fonts/comfortaa.ttf"

data/shaders/background.vert RCDATA "data/shaders/background.vert"
data/shaders/background.frag RCDATA "data/shaders/background.frag"
data/shaders/block.vert RCDATA "data/shaders/block.vert"
data/shaders/block.frag RCDATA "data/shaders/block.frag"
data/shaders/blur.vert RCDATA "data/shaders/blur.vert"
data/shaders/blur.frag RCDATA "data/shaders/blur.frag"
data/shaders/final.vert RCDATA "data/shaders/final.vert"
data/shaders/final.frag RCDATA "data/shaders/final.frag"
data/shaders/quad.vert RCDATA "data/shaders/quad.vert"
data/shaders/quad.frag RCDATA "data/shaders/quad.frag"
data/shaders/glow.vert RCDATA "data/shaders/glow.vert"
data/shaders/glow.frag RCDATA "data/shaders/glow.frag"

data/examples/Adder4Bit.ls RCDATA "data/examples/Adder4Bit.ls"
data/examples/Blocks.ls RCDATA "data/examples/Blocks.ls"
data/examples/RAM1Byte.ls RCDATA "data/examples/RAM1Byte.ls"

data/textures/favicon.png RCDATA "data/textures/favicon.png"
data/textures/blocks.png RCDATA "data/textures/blocks.png"
