MAINICON ICON "data/favicon.ico"
VERSION 2.2.1
data/fonts/comfortaa.ttf RCDATA "data/fonts/comfortaa.ttf"
data/fonts/fa.ttf RCDATA "data/fonts/fa.ttf"

data/shaders/background.vert RCDATA "data/shaders/background.vert"
data/shaders/background.frag RCDATA "data/shaders/background.frag"
data/shaders/block.vert RCDATA "data/shaders/block.vert"
data/shaders/block.frag RCDATA "data/shaders/block.frag"
data/shaders/blur.vert RCDATA "data/shaders/blur.vert"
data/shaders/blur.frag RCDATA "data/shaders/blur.frag"
data/shaders/final.vert RCDATA "data/shaders/final.vert"
data/shaders/final.frag RCDATA "data/shaders/final.frag"
data/shaders/quad.vert RCDATA "data/shaders/quad.vert"
data/shaders/quad.frag RCDATA "data/shaders/quad.frag"

data/textures/favicon.png RCDATA "data/textures/favicon.png"
data/textures/blocks.png RCDATA "data/textures/blocks.png"

data/examples/blinker.bson RCDATA "data/examples/blinker.bson"
data/examples/gates.bson RCDATA "data/examples/gates.bson"
data/examples/rs-latch.bson RCDATA "data/examples/rs-latch.bson"
data/examples/full-adder.bson RCDATA "data/examples/full-adder.bson"
data/examples/adder-4bit.bson RCDATA "data/examples/adder-4bit.bson"

1 VERSIONINFO
 FILEVERSION 2,2,1
 PRODUCTVERSION 2,2,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "kewldan"
            VALUE "FileVersion", "2.2.1"
            VALUE "InternalName", "LogicalSystem"
            VALUE "LegalCopyright", "2024 Tenishev Daniil"
            VALUE "ProductName", "Logical System"
            VALUE "ProductVersion", "2.2.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
